/*app buttons*/

button {
    appearance: none;
    box-shadow: none;
    outline: none;
    border: none;
    font-family: 'Hind Madurai', sans-serif;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: transparent;
}

.button__name {
    flex-basis: 90%;
    padding: 5px 30px;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}

.button__icon {
    flex-basis: 10%;
    padding: 5px 10px;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}

/*BUTTON GREEN*/

.button--green {
    font-size: .9rem;
    width: 70%;
}

.button--green .button__name {
    background-color: var(--green);
}

.button--green .button__icon {
    background-color: var(--green-dark);
}

/*BUTTON BACK TO MAP*/

.button--back {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    font-size: .8rem;
    border: 2px solid #fff;
    border-radius: 6px;
}

.button--back .button__name {
    padding: 5px 10px!important
}

.button--back .button__icon {
    padding-left: 0;
}

/*BUTTON ADD CORNER*/

.button--add {
    font-size: .8rem;
}

.button--add .button__name {
    background-color: var(--blue);
    padding: 3px 8px;
}

.button--add .button__icon {
    background-color: var(--blue-dark);
    padding: 3px 8px;
}

/*BUTTON STEP-BY-STEP FORM*/

.button--step-form {
    background-color: var(--blue);
    color: #fff;
    width: 100px;
    padding: 10px;
    border-radius: 6px;
}
