/*app buttons*/

button {
    box-shadow: none;
    outline: none; 
    border: none;
    appearance: none;
    font-family: 'Hind Madurai', sans-serif;
    text-align: center;
    cursor: pointer;
    color: #fff;
    background-color: transparent;
}

.button {
    box-shadow: none;
    outline: none;
    border: none;
    font-family: 'Hind Madurai', sans-serif;
    color: #fff;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    font-size: 1.2rem;
}

.button__name {
    flex-basis: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    height: 100%;
    padding: 10px 20px;
}

.button__icon {
    flex-basis: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    height: 100%;
    padding: 10px;
}

/*BUTTON GREEN*/

.button--green {
    font-size: .9rem;
    width: 70%;
}

.button--green .button__name {
    background-color: var(--green);
    padding: 8px;
}

.button--green .button__icon {
    background-color: var(--green-dark);
    padding: 8px;
}

/*BUTTON BACK TO MAP*/

.button--back {
    position: absolute;
    top: 10px;
    left: 15px;
    background-color: #fff;;
    font-size: .8rem;
    border: 2px solid #fff;
    border-radius: 6px;
    color: #000;
}

/*BUTTON ADD CORNER*/

.button--add,
.button--login {
    font-size: .8rem;
}

.button--add .button__name {
    background-color: var(--blue);
}

.button--add .button__icon {
    background-color: var(--blue-dark);
}

/*BUTTON COMMENT*/

.button--login .button__name {
    background-color: var(--green-light);
   
}

.button--login .button__icon {
    background-color: var(--green-light-plus);
}

/*BUTTON COMMENT*/

.button--comment {
    width: 50%;
}

/*BUTTON STEP-BY-STEP FORM*/

.button--step-form {
    background-color: var(--blue);
    color: #fff;
    width: 100px;
    border-radius: 4px;
    padding: 3px;
}

/*BUTTON FILTERS - MOBILE*/

.button--accordion {
    color: #fff;
    background-color: var(--blue);
    width: 100%;
    text-align: center;
    padding: 7px;
}

.button-mobile {
    font-size: .9rem;
    color: #fff;
    background-color: var(--blue);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed; 
}

.button-mobile--view {
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -40%);
    transition: .25s ease-out all;
}

.button-mobile--view.on {
    left: 30%;
    bottom: 0;
    transform: translate(0, -40%);
}

.button-mobile--top {
    right: 30%;
    bottom: 0;
    transform: translate(0, 130%);
    transition: .25s ease-out all;
}

.button-mobile--top.on {
    right: 30%;
    bottom: 0;
    transform: translate(0, -40%);
}

.button-mobile i {
    font-size: 1.8rem;
}

.button-mobile--top i {
    font-size: 1.5rem;
}


/*MEDIA QUERIES*/

@media only screen and (max-width: 1600px) {
    
}

@media only screen and (max-width: 1400px) {
    
}

@media only screen and (max-width: 767px) {
    
    .button--step-form {
        font-size: .75rem;
        padding: 3px 0x;    
        width: 70px;
    }
    
    .button--back {
        height: 30px;
    }
    
    .button--back .button__name {
        padding: 0!important;
    }
    
    .button--add .button__name,
    .button--login .button__name {
        padding: 3px!important;;
    }
    
    .button--back .button__icon {
        font-size: 1.1rem;
        padding: 7px;
    }
    
}

@media only screen and (max-width: 480px) {
    
}
