.corner-comments {
    display: flex;
    padding: 40px 0 40px 0;
}

.comments {
    flex: 1;
    padding: 0 40px;
}

.comments__title {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 20px;
    color: #000;
}

/*coments view*/

.comments-view {
    position: relative;  
}

.comments-view:after {
    content: '';
    display: block;
    background-color: var(--line);
    height: 90%;
    width: 1px;
    top: 10%;
    right: 0;
    position: absolute;
}

.comments-view-empty {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: var(--bg-box);
    border: 1px solid var(--border);
    border-radius: 15px;
    font-size: .9rem;
    color: var(--font);
}

.comments__item {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.comments__img {
    flex: 1;
    max-width: 2.5rem;
    border-radius: 50%;
}

.comments__box {
    flex: 3;
    font-size: .8rem;
    color: var(--font);
    background-color: var(--bg-box);
    margin-left: 20px;
    border-radius: 15px;
    position: relative;
    border: 1px solid var(--border);
}

.comments__box:after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-top: 1px solid var(--border);
    border-left: 1px solid var(--border);
    background-color: var(--bg-box);
    position: absolute;
    top: 50%;
    left: -6px;
    transform: translateY(-50%) rotate(-45deg);
}

.comments__content {
    padding: 10px 15px 15px 15px;
    word-break: break-all;
}

.comments__rates {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    align-items: center;
}

.comments__username {
    color: var(--blue);
}

.comments__star--small {
    font-size: 1rem;
    color: var(--blue);
}

/*COMMENTS ADD*/

.comments-add {
    display: flex;
    flex-direction: column;
}

.comments-add__error {
    font-size: .7rem;
    color: var(--red);
    font-weight: 500;
    display: none;
}

.comments-add__error.on {
    display: block;
}

.comments-add__rates {
    margin-bottom: 10px;
}

.comments__star--big {
    font-weight: lighter;
    font-size: 2rem;
    color: var(--green-dark);
}

.comments-add__input {
    margin-bottom: 20px;
}

.comments-add__input-comment {
    width: 100%;
    height: 150px;
    padding: 8px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid var(--border);
    border-radius: 10px;
    background-color: #fff;
    resize: none;
    color: #000;
    font-size: .9rem;
}

.comments-add__button {
    color: #000;
    border: 1px solid #000;
}

.button--comment-wrapper {
    display: flex;
    justify-content: flex-end;
}


/*MEDAI QUERIES*/

@media only screen and (max-width: 1200px) {
    
}

@media only screen and (max-width: 1023px) {
    
}

@media only screen and (max-width: 767px) {
     
    .corner-comments {
        display: block;
        padding: 0;
    }
    
    .comments {
        margin-bottom: 25px;
        padding-bottom: 25px;
    }
    
    .comments-view:after {
        width: 90%;
        height: 1px;
        top: 100%;
        left: 5%;
    }
    
    .comments-add {
        margin-bottom: 50px;
    }
    
}

@media only screen and (max-width: 480px) {
    
}
   
