.corner-details {
    color: #000;
    height: 100%;
}

.corner-header {
    height: 45%;
    width: 100%;
    padding: 0 5px;
    position: relative;
}

.corner-header a {
    text-decoration: none;
}

.corner-header__images {
    width: 100%;
    height: 100%;
}

.image-gallery-content,
.image-gallery-slide-wrapper,
.image-gallery-swipe,
.image-gallery-slides,
.image-gallery-slide,
.image-gallery-image {
    height: 100%;
    width: 100%;
}

.image-gallery-image img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

.image-gallery-fullscreen-button {
    font-size: .7rem!important;
}

.image-gallery-thumbnail {
    width: 100%!important;
}

.corner-info {
    display: flex;
    position: relative;
}

.corner-info:after {
    content: '';
    height: 1px;
    width: 90%;
    display: block;
    position: absolute;
    bottom: 0;
    left: 5%;
    background-color: var(--line);
}

.corner-info-details {
    flex:1.5;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px 0 30px 30px;
    position: relative;
}

.corner-info-details:after {
    content: '';
    height: 80%;
    width: 1px;
    display: block;
    position: absolute;
    top: calc(10% - 10px);
    right: 0;
    background-color: var(--line);
}

.corner-info__name {
    font-size: 1.7rem;
    font-weight: 400;
}

.corner-info--box {
    display: flex;
    position: relative;
    margin-bottom: 20px;
    font-size: 1rem;
}

.corner-info__icon {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    color: var(--blue);
}

.corner-info__values {
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}


.corner-info__location-info {
    font-style: italic;
    font-size: .8rem;
    margin-top: 5px;
}

.header-social {
    position: absolute;
    background-color: #fff;
    display: flex;
}

.header-social--mobile {
    top: 5px;
    right: 10px; 
}

.header-social--pc {
    bottom: 10px;
    left: 15px; 
}

.header-social .on {
    color: #000;
    cursor: pointer;
    text-decoration: none;
}

.header-social .off {
    color: var(--line);
    cursor: not-allowed;
    text-decoration: none;
}

.social-icon {
    font-size: 1.4rem;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hover .corner-info--social .on:hover {
    background-color: var(--green-light); 
    color: #000;
}

.hover .corner-info--social .off:hover {
    background-color: var(--green-light); 
}

.corner-info-hours {
    flex: 2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
}

.hours-row {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 5px;
    align-items: center;
}

.hours-row.today-active {
    background-color: var(--hover);
    font-weight: 400;
}

.hours-row_icon {
    font-size: 1.3rem;
    color: var(--green);
}

.hours-row_item {
    flex: 2;
}

.hours-row_item--day {
    flex: 1;
}

.hours-row_item--hour {
    font-size: 1rem;
}



/*MEDAI QUERIES*/

@media only screen and (max-width: 1440px) {
    
    .social-icon {
        font-size: 1.2rem;
        width: 30px;
        height: 30px;
    }
    
    .corner-info--box {
        font-size: .9rem;
    }
    
    .hours-row_item--hour {
        font-size: .9rem;
    }
    
}

@media only screen and (max-width: 1023px) {
    
}

@media only screen and (max-width: 767px) {
    
    .corner-header {
        height: auto;
        width: 100%;
        padding: 0 5px;
        position: relative;
    }
    
    .corner-info {
        display: block;
        height: auto;
    }
    
    .corner-info:after {
        display: none;
    }
    
    .corner-info--box {
        margin: 10px 0;
    }
    
    .corner-info-details {
        width: 100%;
        padding: 10px 20px 25px 20px;
        margin-bottom: 25px;
    }
    
    .corner-info-hours {
        width: 100%;
        position: relative;
        padding-bottom: 25px;
        margin-bottom: 25px;
    }
    
    .corner-info-details:after {
        height: 1px;
        width: 90%;
        top: 100%;
        right: 5%;
    }
    
    .corner-info-hours:after {
        display: block;
        content: '';
        background-color: var(--line);
        position: absolute;
        height: 1px;
        width: 90%;
        top: 100%;
        right: 5%;
    }
    
    .image-gallery-content,
    .image-gallery-slide-wrapper,
    .image-gallery-swipe,
    .image-gallery-slides,
    .image-gallery-slide,
    .image-gallery-image {
        height: auto;
        width: auto;
    }
    
    .image-gallery-thumbnail {
        height: auto;
        width: 130px!important;
    }
    
}

@media only screen and (max-width: 480px) {
    
}
   
