.corner-details {
    color: #000;
}

.corner-header {
    height: 45%;
    width: 100%;
    padding: 0 5px;
    position: relative;
}

.corner-header a {
    text-decoration: none;
}

.corner-header__images {
    width: 100%;
    height: 100%;
}

.image-gallery-content,
.image-gallery-slide-wrapper,
.image-gallery-swipe,
.image-gallery-slides,
.image-gallery-slide,
.image-gallery-image,
.image-gallery-image img {
    height: 100%;
    width: 100%;
}

.image-gallery-fullscreen-button {
    font-size: .7rem!important;
}

.image-gallery-thumbnail {
    width: 100%!important;
}

.corner-info {
    display: flex;
    height: 55%;
}

.corner-info:after {
    content: '';
    height: 1px;
    width: 90%;
    display: block;
    position: absolute;
    bottom: 20px;
    left: 5%;
    background-color: var(--line);
}

.corner-info-details {
    flex:1.5;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px 0 30px 30px;
    position: relative;
}

.corner-info-details:after {
    content: '';
    height: 80%;
    width: 1px;
    display: block;
    position: absolute;
    top: calc(10% - 10px);
    right: 0;
    background-color: var(--line);
}

.corner-info__name {
    font-size: 1.3rem;
    font-weight: 400;
}

.corner-info--box {
    display: flex;
    position: relative;
    margin-bottom: 20px;
    font-size: .9rem;
}

.corner-info__icon {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: var(--blue);
}

.corner-info__values {
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}


.corner-info__location-info {
    font-style: italic;
    font-size: .7rem;
    margin-top: 5px;
}

.corner-info--social {
    position: absolute;
    left: 15px;
    bottom: 10px;
    background-color: #fff;
    z-index: 999;
    display: flex;
}

.corner-info--social .on {
    color: #000;
    cursor: pointer;
    text-decoration: none;
}

.corner-info--social .off {
    color: var(--line);
    cursor: not-allowed;
    text-decoration: none;
}

.social-icon {
    font-size: 1.2rem;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.corner-info--social .on:hover {
    background-color: var(--green-light); 
    color: #000;
}

.corner-info-hours {
    flex: 2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px 30px 30px;
}

.hours-row {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 5px;
    align-items: center;
}

.hours-row.today-active {
    background-color: var(--hover);
    font-weight: 400;
}

.hours-row_icon {
    font-size: 1.3rem;
    color: var(--green);
}

.hours-row_item {
    flex: 2;
}

.hours-row_item--day {
    flex: 1;
}

.hours-row_item--hour {
    font-size: .8rem;
}
   
