.details-time-picker {
    margin-left: 15px;
}

/*overwrite react-time styles*/ 
.rc-time-picker {
    max-width: 113px;
}

.rc-time-picker-panel-select {
    overflow-x: hidden;
}

.rc-time-picker-panel-clear-btn:hover {
    color: red;
}

.rc-time-picker-panel-input,
.rc-time-picker-input {
    padding: 6px 4px 5px 20px;
    font-size: .8rem;
    font-family: 'Hind Madurai', sans-serif;
    color: var(--font);
    font-weight: 300;
    height: auto;
}

.rc-time-picker-panel-input {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.rc-time-picker-panel-input-wrap {
    padding: 0;
}

.rc-time-picker-panel-inner {
    border: 1px solid var(--border);
    box-shadow: 0 1px 5px var(--border);
}

/*checkbox style*/

.details-input {
    display:flex;
    align-items: center;
    margin-bottom: 5px
}

.details-input--date-picker {
    margin-bottom: 15px;
    margin-top: 10px;
}

.details-input__label {
    font-size: .9rem;
}

.details-input__checkbox {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 1px solid var(--border);
    background-color: #fff;
    border-radius: 4px;
    padding: 5px;
    display: inline-block;
    position: relative;
    margin-right: 6px;
    color: #fff!important;
}

.details-input__checkbox:checked, 
.details-input__checkbox:checked:active {
    background-color: var(--blue);
    border: 1px solid var(--blue);
    color: #fff!important;
}

.details-input__checkbox:checked:after {
    content: '\2714';
    position: absolute;
    top: 10%;
    left: 10%;
    color: #fff!important;
    display: block;
    font-size: 70%;
}

.details-days {
    list-style: none;
    margin-left: 15px;
    margin-top: 15px;
    font-size: .7rem;
    display: flex;
}

.details-days__item {
    flex: 1;
    display: inline-block;
    padding: 3px 5px;
    border: 1px solid var(--border);
    border-radius: 7px;
    margin: 2px;
    width: 15%;
    cursor: pointer;
    background-color: #fff;
    text-align: center;
}

.hover .details-days__item:hover {
    background-color: var(--blue);
    color: #fff;
    border-color: var(--blue);
}

.details-days__item--open {
    background-color: var(--blue);
    color: #fff;
    border-color: var(--blue);
}

.details-select {
    border: 1px solid var(--border);
    background-color: #fff;
    border-radius: 4px;
    padding: 5px 10px;
    margin-left: 20px;
}

.details-select:disabled {
    background-color: var(--bg-box);
}

/*animation for days component*/

.slide-down-enter {
    opacity: 0;
    transform: translateY(-30%);
}

.slide-down-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: .2s ease-in;
}

.slide-down-leave {
    opacity: 1;
    transform: translateY(0);
}

.slide-down-leave-active {
    opacity: 0;
    transform: translateY(-30%);
    transition: .2s ease-in;
}


@media only screen and (max-width: 1200px) {
    
}

@media only screen and (max-width: 1023px) {
    
}

@media only screen and (max-width: 767px) {
    
    .details-input__checkbox:checked:after {
        top: 15%;
        left: 13%;
        color: #fff!important;
    }
    
    .details-days {
        display: flex;
        justify-content: space-between;
    }
    
    .details-days__item {
        flex: 1;
        width: auto;
    }
    
}

@media only screen and (max-width: 480px) {
    
}
