.filters-column {
    width: 50%;
    position: relative;
}

.filters-column--line::after {
    content: '';
    display: block;
    width: 1px;
    height: 90%;
    background-color: var(--line);
    position: absolute;
    top: 5%;
    right: 0;
}

.filters-column__filters {
    padding: 0 20px;
    overflow-x: hidden;
    overflow-y: scroll;
    height: calc(100% - 80px);
}

.filters-column__button {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    position: relative;
}

.filters-column__button::before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--line);
    position: absolute;
    top: 0;
    left: 0;
}

.filters-column--corners {
    padding: 0;
    overflow-y: hidden;
}

.filter-box {
   padding: 30px 0;
}

.filter-box--padding {
   padding: 30px 20px; 
}

.filter-box--white {
    background-color: #fff;
}

.filter-box--title-padding .filter-box__title {
    padding: 0 20px;
}

.filter-box--line::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--line);
    position: relative;
    bottom: -30px;
    left: 0;
}

.filter-box__title {
    font-size: 1.1rem;
    font-weight: normal;
    color: var(--blue);
    margin-bottom: 15px;
}

/*animation for filters - mobile*/

.slide-down-filters-enter {
    opacity: 0;
    transform: translateY(-5%);
}

.slide-down-filters-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: .2s ease-in;
}

.slide-down-filters-leave {
    opacity: 1;
    transform: translateY(0);
}

.slide-down-filters-leave-active {
    opacity: 0;
    transform: translateY(-5%);
    transition: .2s ease-in;
}

.animated-filters {
    width: 100%;
}

.animated-filters .filters-column {
    background-color: #fff;
}

/*mobile*/

.corner-list-mobile {
    width: 100%;
    background-color: var(--bg-box);
    padding-bottom: 80px;
}

.filters-accordion {
    background-color: #fff;
    transition: max-height .4s linear;
    overflow: hidden;
}

.filters-accordion.is-open {
    max-height: 700px;
}

.filters-accordion.is-closed {
    max-height: 0px;
}




/*MEDAI QUERIES*/


@media only screen and (max-width: 1440px) {
    .filter-box {
       padding: 20px 0;
    }

    .filter-box--padding {
       padding: 20px 15px; 
    }
    
    .filter-box--line::after {
        bottom: -20px;
    }
    
    .filters-column__filters {
        height: calc(100% - 60px);
    }

    .filters-column__button {
        height: 60px;
    }
}

@media only screen and (max-width: 767px) {
    
    .filters-column {
        width: 100%;
    }
    
    .filter-box-corner-input {
        padding-bottom: 30px;
    }

    .filters-column__filters {
        height: 100%;
        overflow-y: auto;
    }

}

@media only screen and (max-width: 480px) {
    
}

