.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 12vh;
}

.header__navbar {
    display: flex;
    align-items: center;
}

.header__nav {
    padding-right: 40px;
    position: relative;
}

.header__nav:after {
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    height: 140%;
    top: -20%;
    right: 20px;
    background-color: var(--line);
}

.header__logo {
    width: 180px;
    height: auto;
}

.header__signin {
    font-size: .8rem;
}

.header__user-info {
    display: flex;
    align-items: center;
}

.user__photo {
    width: 2rem;
    height: auto;
    border-radius: 50%;
    margin-left: 10px;
}