.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 12vh;
    background-color: #fff;
}

.header__navbar {
    display: flex;
    align-items: center;
}

.header__nav {
    padding-right: 40px;
    position: relative;
}

.header__nav:after {
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    height: 140%;
    top: -20%;
    right: 20px;
    background-color: var(--line);
}

.header__logo {
    width: 180px;
    height: auto;
}

.header__signin {
    font-size: .8rem;
}

.header__user-info {
    display: flex;
    align-items: center;
}

.user__photo {
    width: 2rem;
    height: auto;
    border-radius: 50%;
    margin-left: 10px;
}

/*mobile*/

.header__logout--mobile {
    background-color: #fff;
    padding: 3px 7px;
    border-radius: 5px;
    border: 1px solid var(--border);
    position: absolute;
    top: 10p;
    right: 10px;
    display: none;
}

.header__logout--mobile.on {
    display: block;
}


/*MEDIA QUERIES*/

@media only screen and (max-width: 1200px) {
    
}

@media only screen and (max-width: 1023px) {
    
}

@media only screen and (max-width: 767px) {
    .header {
        padding: 15px;
    }
    .header__logo {
        width: 150px;
    }
    
    .header__signin {
        margin-top: 5px;    
    }
    
    .user__photo {
        margin-left: 0;
    }
    
    .header__nav {
        padding-right: 30px;
        position: relative;
    }

    .header__nav:after {
        right: 15px;
    }
}

@media only screen and (max-width: 480px) {
    
}