/*css basic setup for app*/

:root {
    --blue : #19a9e5;
    --blue-dark: #0087d5;
    --red: #eb2f06;
    --green-light : #d9e100;
    --green-light-plus : #cad200;
    --green: #47a243;
    --green-dark: #30892d;
    --grey : #c9ced2;
    --font: #a7a7a7;
    --bg-box: #f7f7f7;
    --border: #c9ced2;
    --line: #e7e7e7;
    --hover: #edfaff;
}

@import url('https://fonts.googleapis.com/css?family=Hind+Madurai:300,400,500');

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Hind Madurai', sans-serif;
    color: var(--font);
    font-weight: 300;
    font-size: 18px;
}

html {
    overflow-y: hidden;
}

a {
    text-decoration: none!important;
    color: #000;
}

*, *:after, *:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

*:focus {
    outline: none;
}

*::-webkit-scrollbar-track {
	background-color: transparent;
}

*::-webkit-scrollbar {
	width: 5px;
	background-color: transparent;
}

*::-webkit-scrollbar-thumb {
	background-color: var(--font);
    border-radius: 4px;
}

input,
textarea,
select {
    font-family: 'Hind Madurai', sans-serif;
    color: #000;
    font-size: .8rem;
    font-weight: 300;
    box-shadow: none;
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none;
    outline: none;
    border: none;
}


/*MEDAI QUERIES*/

@media only screen and (max-width: 1600px) {
    body, html {
        font-size: 16px;
    }
}

@media only screen and (max-width: 1400px) {
    body, html {
        font-size: 14px;
    }
}

@media only screen and (max-width: 767px) {
        

    *::-webkit-scrollbar-track {display: none;}

    *::-webkit-scrollbar {display: none;}

    *::-webkit-scrollbar-thumb {display: none;}

    html {
        overflow-y: auto;
    } 
}

@media only screen and (max-width: 480px) {
    
}

