.info-window {
    min-width: 140px;
    background-color: #fff;
    transform: translate(-50%, calc(-100% - 35px));
    margin-bottom: 80px;
    position: absolute;
    border-radius: 5px;
    box-shadow: -3px 3px 7px #a5a5a5;
    padding: 5px;
    overflow-x: visible;
    color: var(--green-dark);
}

.info-window__name {
    font-size: .8rem;
    font-weight: 500;
    padding-bottom: 5px;
}

.info-window__street {
    font-size: .7rem;
}

.info-window-multiple {
    transform: translate(-50%, calc(-100% - 20px));
    cursor: pointer;
}

.multiple-title {
    font-size: .8rem;
    font-weight: 500;
    cursor: default;;
    padding-bottom: 3px;
}

.multiple-corner:hover {
    background-color: var(--hover);
}


