.modal-wrapper {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 999;
}

.modal {
    background-color: #fff;
    width: 70%;
    height: 70%;
    margin-left: 15%;
    margin-top: 15vh;
/*    border-radius: 20px;*/
    padding: 50px;
    z-index: 1999;
    position: relative;
}

.modal_close {
    position: absolute;
    top: -1.5rem;
    right:-1.5rem;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
}

