.sign-in__logo {
    width: 60%;
    height: auto;
    margin-bottom: 40px;
}

.sign-in__description {
    text-align: center;
    margin-bottom: 30px;
}

/*MEDAI QUERIES*/

@media only screen and (max-width: 1440px) {
    
    .sign-in__logo {
        width: 50%;
        height: auto;
        margin-bottom: 30px;
    }
    
}


@media only screen and (max-width: 767px) {
    
    .sign-in__logo {
        margin-bottom: 20px;
    }
   
    
}

@media only screen and (max-width: 480px) {
    
}