.modal_progress-bar {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    margin: 0 50px;
    width: 100%;
    height: 20%;
}

.modal_progress-bar:after {
    content: '';
    display: block;
    height: 2px;
    width: 80%;
    background-color: var(--line);
    position: absolute;
    left: 10%;
    top: 40px;
}

.progress-bar {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.progress-bar_step {
    position: relative;
    font-size: 1.3rem;
    display: block;
    color: var(--line);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid var(--line);
    text-align: center;
    margin-bottom: 10px;
}

.progress-bar_step:after,
.progress-bar_step:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    width: 7px;
    height: 7px;
    background-color: #fff;
}

.progress-bar_step:after {
    right: -9px;
}

.progress-bar_step:before {
    left: -9px;
} 

.progress-bar_step.progress-bar_step--active {
    border-color: var(--blue);
    color: var(--blue);
}

.progress-bar_step.progress-bar_step--done {
    background-color: var(--blue);
    border-color: var(--blue);
    color: #fff;
}

.progress-bar_step i {
    display: block;
    transform: translateY(40%);
}

.progress-bar_step .ion-chevron-down {
    display: block;
    transform: translateY(47%);
}

.progress-bar_name {
    font-size: 1rem;
}

.progress-bar_name--active {
    color: var(--blue);
    font-weight: 500;
}

.modal_buttons {
    width: 100%;
}

.modal_buttons--back {
    float: left;
}

.modal_buttons--forward {
    float: right;   
}

.modal_step {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    height: 80%;
    color: #000;
}

/*MODAL INPUT - BASIC STYLE SETUP*/

.modal_input::-webkit-input-placeholder,
.modal_textarea::-webkit-input-placeholder {
    letter-spacing: 2px;
    word-spacing: 4px;
}

.modal_input::placeholder,
.modal_textarea::placeholder {
    letter-spacing: 2px;
    word-spacing: 4px;
}

.modal_input:-ms-input-placeholder,
.modal_textarea:-ms-input-placeholder {
    letter-spacing: 2px;
    word-spacing: 4px;
}

.modal_label {
    color: #000;
}

.modal_input {
    color: #000;
    border: 1px solid var(--border);
    padding: 5px;
    border-radius: 5px;
}

/*FIRST STEP - BASIC INFORMATION*/

.modal_step_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

.modal_step_form_item {
    display: flex;
    justify-content: flex-start;
    width: 60%;
    align-items: center;
    margin-bottom: 10px;
}

.modal_step_form_item .modal_label {
    flex: 1;
}

.modal_step_form_item .modal_input {
    flex: 2;
}

/*LOCATION STEP - MAP*/

.modal_step_map {
    display: flex;
    height: 100%; 
    padding: 40px;
}

.modal_step_map_inputs {
    flex: 1;
}

.modal_step_map_description {
    padding-top: 3px;
    margin-bottom: 20px;
}

.modal_step_map_item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
}

.modal_step_map_item .modal_input {
    width: 100%;
}

.modal_step_map_item .modal_label {
    padding-bottom: 5px;
}

.map-add-corner {
    position: relative;
    flex: 1.5;
    margin-left: 40px;
}

/*HOURS STEP - OPENING AND DELIVERY HOURS*/

.modal_step_hours {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

.modal_step_hours_item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    margin-bottom: 10px;
}

.modal_step_hours_item .modal_label,
.modal_step_hours_item span {
    flex: 1;
}

.modal_step_hours_item .modal_input {
    flex: 2;
    margin-right: 10px;
}

.modal_step_hours_item i {
    flex: 2;
    font-size: 1.5rem;
    text-align: center;
    margin-right: 10px;
}

/*FINAL STEP - CONFIRM AND SEND*/

.modal_step_confirm {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    justify-content: center;
    align-items: center;
}

.modal_step_confirm_description {
    margin-bottom: 30px;
    font-size: 1.2rem;
}

.modal_step_confirm_item {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.modal_step_confirm_contact {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal_step_confirm_item .modal_checkbox {
    margin-right: 10px;
}


/*MEDAI QUERIES*/

@media only screen and (max-width: 1200px) {
    
}

@media only screen and (max-width: 1023px) {
    
}

@media only screen and (max-width: 767px) {
    
    .modal_progress-bar {
        margin: 0;
        padding-top: 0;
    }

    .progress-bar_step {
        width: 30px;
        height: 30px;
        font-size: 1rem;
    }
    
    .progress-bar_name {font-size: .8rem;}
    
    .progress-bar_step i {transform: translateY(25%);}
    
    .progress-bar_step .ion-chevron-down {transform: translateY(42%);}
    
    .modal_progress-bar:after {top: 15px;}
    
    .modal_step_form {padding-top: 0;}
    
    .modal_step_form_item {
        flex-direction: column; 
        width: 90%;
        margin-bottom: 8px;
    }
    
    .modal_label {
        font-size: .8rem;
        margin-bottom: 3px;
    }
    
    .modal_input {
        padding: 2px;
        width: 100%;
        font-size: .8rem;
        height: 20px;
        line-height: .8rem;
    }
    
    .modal_input::-webkit-input-placeholder,
    .modal_textarea::-webkit-input-placeholder {
        letter-spacing: 1px;
        word-spacing: 2px;
        padding: 2px;
        font-size: .8rem;
        height: 1rem;
        line-height: .8rem;
    }

    .modal_input::placeholder,
    .modal_textarea::placeholder {
        letter-spacing: 1px;
        word-spacing: 2px;
        padding: 2px;
        font-size: .8rem;
        height: 1rem;
        line-height: .8rem;
    }

    .modal_input:-ms-input-placeholder,
    .modal_textarea:-ms-input-placeholder {
        letter-spacing: 1px;
        word-spacing: 2px;
        padding: 2px;
        font-size: .8rem;
        height: 1rem;
        line-height: .8rem;
    }
    
    .details-input__checkbox:checked:after {
        top: 15%;
        left: 13%;
        color: #fff!important;
    }
    
    .modal_step_map {
        flex-direction: column;
        padding: 0 10px 10px 10px;
    }
    
    .modal_step_map_item .modal_label {
        padding-bottom: 0;
    }
    
    .modal_step_map_description {
        font-size: .8rem;
        margin-bottom: 10px;
    }
    
    .map-add-corner {
        margin-left: 0;
    }
    
    .modal_step_hours {
        padding: 40px 10px;
    }
    
    .modal_step_hours_item {
        width: 100%;
    }
    
    .modal_step_confirm_item .modal_label {
        margin-bottom: 0;
    }
    
    .modal_step_confirm_description {
        margin-bottom: 20px;
        text-align: center;
        font-size: .95rem;
    }
    
}

@media only screen and (max-width: 480px) {
    
}
