/*custom style for react-select items*/

.select__value-selected {
    display: block;
    align-items: baseline;
    justify-content: center;
    background-color: var(--hover);
    border-radius: 5px;
    font-size: .75rem;
    padding: 3px;
    font-weight: 300;
    margin: 2px;
}

.select-corners__value-selected {
    font-size: .9rem;
    color: var(--green);
    font-weight: 400;
}

.select__value-icon {
    font-size: .65rem;
    color: var(--font);
    cursor: pointer;
}

.select__value-icon:hover {
    color: var(--red);
}

.select__type--kitchen {
    cursor: pointer;
    font-size: .9rem;
    padding: 2px 8px;
}

.select__type--kitchen:hover,
.select__type--corners:hover {
    background-color: var(--hover);
}

.select__type--corners {
    cursor: pointer;
    font-size: .9rem;
    padding: 5px;
    font-weight: 400;
}

.select__type--corners-district {
   font-size: .6rem;
    font-weight: 300;
    padding-top: 2px;
}


/*override react-select style*/
.Select-control {
    width: 100%;
    background-color: #fff;
    border: 1px solid var(--border);
    border-radius: 4px;
    display: flex;
    align-items: center;
    position: relative;
}

.Select-placeholder {
    display: inline-block;
    font-size: .9rem;
}

.Select-noresults {
    padding: 4px 8px;
}

.Select-input>input {
    display: inline-block;
    border: none;
    background: none transparent;
    outline: none;
    box-shadow: none;
    padding-left: 2px;
}

.Select-multi-value-wrapper {
    width: calc(100% - 30px);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 6.5px 2px 6.5px 8px;
}

.Select-arrow-zone {
    position: absolute;
    top: 0;
    right: 5px;
    height: 100%;
    width: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Select-clear-zone {
    cursor: pointer;
    width: 15px;
}

.Select-arrow {
    display: block;
    border-color: var(--font) transparent transparent;
    border-style: solid;
    border-width: 5px 5px 2.5px;
    margin-left: 2px;
    cursor: pointer;
}

.Select-clear-zone:hover {
    cursor: pointer;
    color: var(--red);
}

.Select-menu-outer {
    background-color: #fff;
    width: 100%;
    max-height: 200px;
    overflow-y: scroll;
    border-top: none;
    border: 1px solid var(--border);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: none;
    border-top-right-radius: none;
    margin-top: -2px;
    position: relative;
    z-index: 11;
    box-shadow: 0 1px 5px var(--border);
}

.Select-menu-outer > div {
    font-size: .9rem;
}


